[submodule "JRenderer-Client-Backend/thirdParty/glfw"]
	path = JRenderer-Client-Backend/thirdParty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "JRenderer-Client-Backend/thirdParty/glew"]
	path = JRenderer-Client-Backend/thirdParty/glew
	url = git@github.com:nigels-com/glew.git
[submodule "JRenderer-Client-Backend/thirdParty/spdlog"]
	path = JRenderer-Client-Backend/thirdParty/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "JRenderer-Client-Backend/thirdParty/libjpeg-turbo"]
	path = JRenderer-Client-Backend/thirdParty/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
